name: Markdown Lint

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: avto-dev/markdown-lint@v1
